# Question 22

In a jupyter notebook solve the following question using both python and SQL. Please upload the notebook to GitHub and provide the link submission box below.
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| recordDate    | date    |
| temperature   | int     |
+---------------+---------+
id is the column with unique values for this table.
This table contains information about the temperature on a certain day.
Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).
Return the result table in any order.
Please use the following input Weather table for your solution. To receive full marks you will need to create the database, create the table, insert the data below and execute the SQL query.
Input: 
Weather table:
+----+------------+-------------+
| id | recordDate | temperature |
+----+------------+-------------+
| 1  | 2015-01-01 | 10          |
| 2  | 2015-01-02 | 25          |
| 3  | 2015-01-03 | 20          |
| 4  | 2015-01-04 | 30          |
+----+------------+-------------+
Output: 
+----+
| id |
+----+
| 2  |
| 4  |
+----+
Explanation: 
In 2015-01-02, the temperature was higher than the previous day (10 -> 25).
In 2015-01-04, the temperature was higher than the previous day (20 -> 30).

In [1]:
import sqlite3

# Create a SQLite database
conn = sqlite3.connect('hell.db')
cur = conn.cursor()

# Create the hell table
cur.execute('''CREATE TABLE IF NOT EXISTS hell (
               id INTEGER PRIMARY KEY,
               recordDate DATE,
               temperature INTEGER
               )''')

# Insert data into the hell table
data = [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
]

cur.executemany('INSERT INTO hell VALUES (?, ?, ?)', data)
conn.commit()

# Execute the SQL query
cur.execute('''SELECT w.id
               FROM hell w
               JOIN hell w_prev ON w.id = w_prev.id + 1
               WHERE w.temperature > w_prev.temperature
               ''')

# Fetch and print the results
rows = cur.fetchall()
print("Output:")
for row in rows:
    print(row[0])

# Close the database connection
conn.close()

Output:
2
4